.idea/
.vscode/
node_modules/
build/
tmp/
temp/
.env
ormconfig.json
*.log	
# ignore a single file
#mycode.class

# ignore an entire directory
#/mydebugdir/

# ignore a file type
#*.json

# add an exception (using !) to the preceding rule to track a specific file
#!package.json
